@import 'styles/_breakpoints.css';

.footer {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: #263238;
  color: rgba(255,255,255,.85);
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.mShow{
  display: none;
}

@mixin mobile{
  .footer {
    font-size: 11px;
    color: #fdfdfd;
    height: 62px;
  }
  .mHide{
    display: none;
  }
  .mShow{
    display: inline-block;
  }
  :global(.offer-stack-page) .footer {
    display: none;
  }
}
