:global(.container) {
  box-sizing: border-box;
  padding: 0 63px;
  max-width: 1366px;
  margin: 0 auto;
}

@media only screen and (min-width: 75em) {
  :global(.container) {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  :global(.container) {
    padding: 0;
    max-width: initial;
    overflow: hidden;
  }
}
